body {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.4rem;
    background: whitesmoke;
    margin: 0;
    padding: 1rem;
}

ul {
    max-width: 100%;
    background: white;
    box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
    border-radius: 0.1rem;
}

li {
    padding: 0 0 0 1rem;
}

li span {
    user-select: none;
    cursor: pointer;
}

li:not(:last-child) {
    border-bottom: 1px solid lightblue;
}

li:first-child {
    margin-top: 0;
}